#tText {
  position: absolute;
  top: 37%;
  left:74%;
  transform: translate(-50%, -50%);
  font-size:150px;
  width:100%;
  color:white;
 font-family: 'Combo', cursive;



}	
		
#pic img{
	width:1330px;
	height:500px;
	padding:0px 0px 0px 00px;
	
}
#h3{
	color:#030806 ;
	font-size:20px;
	font-family:'Rubik', sans-serif,arial,helvetica;
	padding-top:20px;
	


}
#salesText{
	text-align:justify;
	font-family: 'Rubik', sans-serif,arial,helvetica;
	font-size:16.5px;
	padding-left:30px;
	line-spacing:10px;
	width:55%;
	word-spacing:5px;

	color:white;
}
#title1{
		text-align:center;
		margin:0 auto 70px;
		position:relative;
		line-height:60px;
		color:black;
	}
	#title1::after{
		content:'';
		background:#95D0B4 ;
		width:100px;
		height:5px;
		border-radius:5px;
		position:absolute;
		bottom:0;
		left:46%;
		
	}
  #bg
{
		background-color:teal ; 
		border: 30px inset  #64A183 ;
		text-align:justify;
		height:500px;
		
}
 
#Images5 {
	float:right;
	
}
#Images5 img{
	width:500px;
	height:400px;
	padding:80px 20px 0px 10px;
	margin-left:20px;
	
}
#mText{
	text-align:justify;
	font-family:sans-sherif;
	font-size:15px;
}

	#container{
	max-width:1300px;
	margin:auto;
	padding-left:25px;
	padding-right:25px;
}
	#row{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	margin-left:15px;
	margin-top:70px;
}

    #categories{
		margin-top:70px 0;
	}
	#col-3{
		flex-basis:30%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-3 img{
		width:100%;
		
		
	}
	#col-4{
		flex-basis:30%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-4 img{
		width:100%;
		padding:0px 0px 0px 40px;
		
	}
	#col-5{
		flex-basis:30%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-5 img{
		width:100%;
		margin-left: 80px;
		
	}
	
	#small-container{
		max-width:1080px;
		margin:auto;
			padding-left:25px;
			padding-right:25px;

	}
	#col-6{
		
		flex-basis:23%;
		padding:0px 0px 0px 65px;
		min-width:200px;
		margin-bottom:30px;
		transition: transform 0.5s;
		border:50px black;
	}
	#col-6 img{
		width:120%;
		border-radius:10px;
		
	}
	#title{
		text-align:center;
		margin:0 auto 80px;
		position:relative;
		line-height:60px;
		color:#555;
	}
	#title::after{
		content:'';
		background:black;
		width:80px;
		height:5px;
		border-radius:5px;
		position:absolute;
		bottom:0;
		left:46%;

		
	}
	h4{
		color:#555;
		font-weight:bold;
	}
	#col-6 p{
		font-size:14px;
	}
	#col-6:hover{
		transform:translateX(-15px);
	}
	.btn {
        display: block;
        padding: 10px 20px;
		font-size:16.5px;
        text-align: center;
        text-decoration: none;
		min-height:20px;
		max-width:200px;
        color: white;
		font-weight:bold;
        background-color:#64A183;
        border-radius: 6px;
        outline: none;
      }
	#bg1
{
		background-color:#64A183 ; 
		border: 50px ridge #64A183 ;
		text-align:justify;
		height:500px;
		
}
 #back a{
	 font-weight:bold;
	 font-size:18px;
	 text-align: right;
		text-decoration:none;
		color:black;
		background: #64A183;
		padding:20px 40px 25px 50px;
		border-radius:100px;

	}
	 .footer-bg{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    position: absolute;
    bottom:0px 0;
    left: px;
    right: 0px;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 0px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
padding:0px 0 0 30px;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 30px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
@media screen and (max-width:700px){
	#tText {
  position: absolute;
  top: 55%;
  left:74%;
  transform: translate(-50%, -50%);
  font-size:100px;
  width:100%;
  color:white;
 font-family: 'Combo', cursive;



}	
	#pic img{
	width:345px;
	height:500px;
	padding:0px 0px 0px 00px;
	
}
#bg
{
		background-color:teal ; 
		border: 50px ridge #64A183 ;
		text-align:justify;
		height:1200px;
		
}
 
#Images5 {
	float:left;
	
}
#Images5 img{
	width:250px;
	height:400px;
	padding:20px 20px 0px 00px;
	margin-left:20px;

}
#salesText{
	text-align:justify;
	font-family: 'Rubik', sans-serif,arial,helvetica;
	font-size:14px;
	padding-left:0px;

	width:100%;
	word-spacing:5px;

	color:white;
}
#title1{
		text-align:center;
		
		position:relative;
		line-height:60px;
		color:black;
	}
	#title1::after{
		content:'';
		background:#95D0B4 ;
		width:100px;
		height:5px;
		border-radius:5px;
		position:absolute;
		bottom:0;
		left:30%;
		
	}
	#h3{
	color:#030806 ;
	font-size:15px;
	font-family:'Rubik', sans-serif,arial,helvetica;
	padding-top:20px;
	}
	#col-3{
		flex-basis:30%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-3 img{
		width:100%;
		
		
	}
	#col-4{
		flex-basis:30%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-4 img{
		width:100%;
		padding:0px 0px 0px 10px;
		
	}
	#col-5{
		flex-basis:30%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-5 img{
		width:100%;
		margin-left: 10px;
		
	}
}
@media (min-width: 710px) and (max-width: 1280px) 
{
	#tText {
  position: absolute;
  top: 55%;
  left:74%;
  transform: translate(-50%, -50%);
  font-size:150px;
  width:100%;
  color:white;
 font-family: 'Combo', cursive;



}	
		#pic img{
	width:820px;
	height:500px;
	padding:0px 0px 0px 00px;
	
}
#bg
{
		background-color:teal ; 
		border: 50px ridge #64A183 ;
		text-align:justify;
		height:600px;
		
}
 
#Images5 {
	float:left;
	
}
#Images5 img{
	width:250px;
	height:500px;
	padding:50px 20px 0px 00px;
	margin-left:20px;

}
#salesText{
	text-align:justify;
	font-family: 'Rubik', sans-serif,arial,helvetica;
	font-size:15px;
	padding-left:25px;

	width:92%;
	word-spacing:5px;

	color:white;
}
#title1{
		text-align:center;
		
		position:relative;
		line-height:60px;
		color:black;
	}
	#title1::after{
		content:'';
		background:#95D0B4 ;
		width:100px;
		height:5px;
		border-radius:5px;
		position:absolute;
		bottom:0;
		left:30%;
		
	}
	#h3{
	color:black ;
	font-size:25px;
	font-family:'Rubik', sans-serif,arial,helvetica;
	padding-top:0px;
	}
	
	#col-3{
		flex-basis:100%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-3 img{
		width:100%;
		
		
	}
	#col-4{
		flex-basis:100%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-4 img{
		width:100%;
		padding:0px 0px 0px 10px;
		
	}
	#col-5{
		flex-basis:100%;
		min-width:250px;
		margin-bottom:30px;
	}
	#col-5 img{
		width:100%;
		margin-left: 10px;
		
	}
}